<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
      </button>
    </div>
    <div class="img menuBg bg-wrap text-center py-4">
      <div class="user-logo">
        <div class="img logoImg">
          <img src="{{user.profilePic}}" alt="user profile picture">
        </div>
        <h3>{{username}}</h3>
      </div>
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
      </li>
      <li>
        <a (click)="profile(username)"><span class="fa fa-user mr-3"></span> Profile</a>
      </li>
      <li>
        <a (click)="logout()"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5 lectures">
    <h2 class="mb-4">Lectures</h2>
    <div class="row">
      <div class="col-4" *ngFor="let material of materials">
        <div class="card text-center">
          <img class="card-img-top" src="{{material.materialThumbnail}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{material.materialTitle}}</h5>
            <a href="/material/{{material.id}}" class="btn btn-outline-warning">Go to course</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
