<div class="container text-center border">
  <div class="img-header">
    <img src="{{material.materialThumbnail}}" alt="thumbnail">
    <br><br>
    <div class="alert alert-primary" role="alert">
      <span><i class="fa fa-book text-dark"></i></span> Material title : {{material.materialTitle}}  | <span><i
      class="fa fa-user text-dark"></i></span> Author
      : {{user.firstName}}   | <span><i class="fa fa-calendar text-dark"></i></span> Date : {{material.creatingDate}}
    </div>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KSKJKLmAqpI" allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <br>
  <h3 (click)="goHome()" class="btn btn-warning">Back to home</h3>
  <br>
  <br>
</div>

